.wrapper
  .chat-side
    .side-header 
      .side-header__box
        .side-header__box__user-name
          kiki
        .side-header__box__menu
          .side-header__box__menu__new-group
          =link_to "#", class: "contents__btn" do
            = icon('fas', 'edit')
          .side-header__box__menu__edit-user
          =link_to "#", class: "contents__btn" do
            = icon('fas', 'cog')
    .groups  
      .group
        .group__group-name
          kkkkk  
        .group__latest-message
          fffff
  .chat-main 
    .main-header
      .main-header__left-box
        .main-header__left-box__current-group
          同期
        .main-header__left-box__member-list
          Member
          .main-header__left-box__member-list__member
            kiki
      .main-header__edit-btn
        Edit
    .messages
      .message
        .message__upper-info
          .message__upper-info__talker
          .message__upper-info__date
        .message__text
    .form
      .new-message
        .new-message__input-box
          %input.new-message__input-box__text{placeholder:"type a message"}
          .new-message__input-box__image
            %label{class: "input-box__image"}
              = icon('fas', 'image')
              %input{class: "file", type: "file"}
        .submit-btn
          .submit-btn__send
            Send
            
              

/=link_to "#", class: "header__btn header__btn--chatgroup" do
/=link_to "#", class: "header__btn header__btn--editaccount" do
